*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}
/* header*/
header {
    
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 82px;
    padding-right: 82px;
    padding-top: 6px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
    position: relative;

}
#nav_elementos {
display: flex;
flex-direction: row;
width: 44%;
justify-content: space-between;
}

#nav_elementos_redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 28%;
    justify-content: space-around;
    }

#nav_redes {
    color: #1A83B0;
    font-size: 1.7vw;
    align-self: center;
}
#nav_search {
    color: #1A83B0;
    font-size: 1.7vw;	
    transform: rotate(70deg);
}

#nav_desarrollador{
    height: 15px;	
    width: 148px;	
    color: #1E90BC;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 16px;	
    line-height: 15px;
    margin-top: 0.5rem;
}

hr {
    width: 100%;
    margin-top: 5px;
    size: 40px;
    color: #1E90BC;	
    border-style: double;
}
.line-4-copy-2 {	
    box-sizing: border-box;	
    height: 35px;	
    width: 1px;	
    border: 0.7px 
    solid #979797;}

#banner {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}
#banner_texto {
    position: absolute;
    top: 12.5vw;
    left: 8vw;

}
#drupal {
    height: 52px;	
    width: 234px;	
    color: #FFFFFF;	
    font-family: HarmoniaSansW01-Bold;	
    font-size: 4.9vw;	
    line-height: 0vw;	
    text-align: left;
}
#colombia {	
    width: 220px;	
    color: #FFFFFF;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 3.2vw;		
    text-align: left;
}
#banner_ipsum {
    height: 116px;	
    width: 24vw;	
    color: #FFFFFF;	
    font-family: HarmoniaSansW01-Regular;
    text-align: left;	
    font-size: 1.3vw;
    line-height: 1.6vw;
}

#que_es_drupal {
    color: #5B5B5B;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 3.4vw;
    margin-top: 3vw;
    margin-bottom: 3vw;

}
#section_que_es_drupal {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3vw;
    font-family: HarmoniaSansW01-Regular;
}
.article_que_es_drupal {
    
    position: relative;
    display: inline-block;
    text-align: center;
    width: 17vw;
    
}

.fondo_que_es_drupal {
    width: 100%;
}


.contenido_que_es_drupal {
    position: absolute;
    top: 10%;
    text-align: left;
    margin: 2rem;
    width: 100%;
    
}

.contenido_que_es_drupal .imagenes {
 width: 3.5vw;
}
#article_porque_drupal {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

#contenido_porque_drupal{
    position: absolute;
    top: 3vw;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    justify-content: center;
    text-align: center;
}

#por_que_drupal {
    color: #FFFFFF;	
    font-family: HarmoniaSansW01-Regular;
    margin: 0 auto;	
    margin-bottom: 2vw;
    font-size: 3vw;	
    text-align: center;
}

#texto_porque_drupal {
    width: 43%;	
    color: #FFFFFF;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 1.3vw;	
    line-height: 1.6vw;
    text-align: center;
    margin: 0 auto;	
    margin-bottom: 3%;
    
}

#prueba_drupal {
    color: #FFFFFF;	
    font-family: HarmoniaSansW01-Bold;
    font-size: 1.3vw;	
    box-sizing: border-box;	
    height: 3.1vw;
    width: 14%;
    border: 3px solid #FFFFFF;	
    border-radius: 10px;
    padding-top: 0.6vw;
    margin: 0 auto;	
}

.sections_size {
width: 86%;
margin-left: 7%;
}

/*Sección noticias*/
#section_noticias {
 display: grid;
 grid-gap: 20px;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr  1fr;
 margin-top: 2vw;
 width: 100%;
 text-align: left;
}

#noticias_section_1 {
    grid-row-start: 1;
    grid-row-end: 3;
    border-right: 1px solid #006181;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
}

#noticias {
    height: 60px;	
    width: 180px;	
    color: #5B5B5B;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 50px;	
    margin-top: 3vw;
    line-height: 61px;
}

#gota {
    position: relative;
    right: 1.5vw;
    top: 0.7vw;

   
    

}

#section_noticias_contenido {
    margin-top: 2vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    background-color: cadetblue;
}

#noticias_articulo {
    width: 50%;
    background-color: cornflowerblue;
}

.titulos_noticias {
    color: #000000;	
    font-family: HarmoniaSansW01-Bold;	
    font-size: 25px;	
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.texto_noticias {
    color: #5D5D5D;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 20px;	
    line-height: 24px;
}

#line-4-copy-3 {
    box-sizing: border-box;	
    height: 24vw;	
    width: 1px;	
    border: 0.7px 
    solid #006181;
}

.contenedor_lateral_noticias {
    display: flex;
    flex-direction: row;
    justify-content: right;
    border-bottom: 1px solid #006181;
    padding-bottom: 2vw;
}

.contenedor_lateral_noticias_2 {
    display: flex;
    flex-direction: row;
}

.imagen_hola {
    width: 94%;
    border-radius: 12px;
}

.imagen_lateral {
    width: 90%;
    border-radius: 12px;
}

#article_noticias {
    width: 200px
}
#line-4-copy-4 {
    box-sizing: border-box;	
    height: 1px;	
    width: 	44vw;
    border: 0.7px 
    solid #006181;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 2vw;
}

#eres_desarrollador {
    color: #5B5B5B;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 50px;	
    line-height: 61px;
    margin-top: 3vw;
}

#menu_eres_desarrollador {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 3vw;
}

.elementos_menu {
    height: 60px;	
    width: 200px;		
    font-family: HarmoniaSansW01-Bold;	
    font-size: 18px;	
    line-height: 23px;
    text-align: left;
    margin-right: 5vw;
}

#section_desarrollador_contorno {
    box-sizing: border-box;	
    height: 771px;	
    width: 100%;	
    border: 3px 
    solid #038ABC;	
    border-radius: 10px;
    margin-top: 3vw;
    text-align: left;
    padding: 4vw;
    align-content: flex-end;
}

.desarrollador_titulos {
    font-family: HarmoniaSansW01-Bold;	
    font-size: 25px;	
    line-height: 30px;
    margin-bottom:3vw;
    align-items: flex-end; 
}

#contenido_desarrollador {
    display: flex;
    flex-direction: row;
    color: #5D5D5D;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 20px;	
    line-height: 34px;
}

#contenido_desarrollador_2 {
    color: #5D5D5D;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 20px;	
    line-height: 34px;
}

#desarrollador_videos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vw;
    width: 92%;
    margin-left: 4%;
}

#patrocinadores {
    color: #5B5B5B;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 50px;	
    line-height: 61px;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#grid_logos {
    display: grid;
    width: 86%;
    margin-left: 8%;
    justify-items: center;
    grid-template-columns: repeat(6,1fr);
}

.logos {
    width: 100%;
}

#imagen_apoya {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 2vw;
}

#texto_apoya {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 40px;	
    line-height: 48px;
    box-sizing: border-box;	
    height: 85px;	
    width: 449px;	
    border: 3px solid #FFFFFF;	
    border-radius: 15px;	
    background-color: rgba(255,255,255,0.4);
}

.line-4-copy-5 {
    box-sizing: border-box;	
    height: 1px;	
    width:  42vw;
    border: 1px 
    solid #979797;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#logo_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vw;
}

#contactos_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-top: 1vw;
    width: 54%;
    margin-left: 23%;
    color: #1E90BC;
}

.lista_footer {
    display: flex;
    flex-direction: row;
    
}

.texto_footer {
    color: #5D5D5D;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 20px;	
    line-height: 21px;
    margin-left: 5px;
}

#contenedor_redes_footer {
    display: flex;
    flex-direction: row;
    margin-top: 2vw;
    width: 24%;
    margin-left: 38%;
    justify-content: space-around;
}
#redes_footer {
    color: #1A83B0;
    font-size: 30px;
}

.line-4-copy-6 {
    box-sizing: border-box;	
    height: 1px;	
    width:  42%;
    margin-left: 29%;
    border: 1px 
    solid #979797;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#copyright {
    margin-top: 1vw;
    margin-bottom: 2vw;
    font-family: HarmoniaSansW01-Regular;
}

/*PAGINA EVENTOS*/


#header_2 {
    
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

#nav_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 82px;
    padding-right: 82px;
    padding-top: 6px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
    position: absolute;
    width: 100%;
    margin-top: 0px;
    z-index: 2;
    background-color: white;
    top: 0px;
}

#breadhome {
    position: absolute;
    top: 95px;
    left: 4vw;
    color: #B95800;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 16px;	
    line-height: 19px;
}

#titulo_banner {
    color: #5B5B5B;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 3vw;	
    margin-right: 2vw;
    
}

#texto_banner {
    color: #6D7278;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 1.1vw;	
    line-height: 24px;
    border-left: 1px solid #BABABA;
    padding: 0.8vw;
    padding-left: 2vw;
}

#contenido_banner {
    width: 36%;
    text-align: left;
    position: absolute;
    top: 12vw;
    display: flex;
    flex-direction: row;
    margin-left: 13vw;
}