.badges-lorem-ipsum {	height: 120px;	
    width: 615px;	
    color: #7F7F7F;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 18px;	
    line-height: 22px;
    text-align: left;
    margin-left: 5.5%;
    margin-top: 1vw;
}

@media screen and(max-width:"767px") {
    .badges-lorem-ipsum {	height: 120px;	
        width: 86%;	
        color: #7F7F7F;	
        font-family: HarmoniaSansW01-Regular;	
        font-size: 3.8vw;	
        line-height: 5vw;
        text-align: left;
        margin-left: 7%;
        margin-top: 3vw;
    }
}

.seccion-bagdes {
    display: flex;
    flex-direction: row;
    width: 87%;
    margin-left: 6.5%;
    margin-top: 3vw;
}

@media screen and(max-width:"767px") {
    .seccion-bagdes {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
        margin-top: 18vw;
    }

}

.texto-bagdes {
    color: #7F7F7F;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 18px;	
    line-height: 22px;	
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 2vw;
}

@media screen and(max-width:"767px") {
    .texto-bagdes {
        width: 96%;
        margin-left: 2%;
    }

}

.descarga-badges {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vw;
    cursor: pointer;

    span {
        color: #0076A1;
    font-size: 3em; 
    }
    
}

.descarga-badges:hover {
    opacity: 0.5;
}

@media screen and(max-width:"767px") {
    .descarga-badges {
        margin-bottom: 7vw;
    }

}
.descargar-imagen {
    color: #0076A1;	
    font-family: HarmoniaSansW01-Bold;	
    font-size: 1.3em;	
    line-height: 22px;
    align-self: center;
    margin-left: 1vw;
}

.nuestros-socios-titulo {
    width: 25vw;	
    color: #5B5B5B;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 3em;	
    line-height: 61px;
    margin-top: 5vw;
}

@media screen and(max-width:"767px") {
    .nuestros-socios-titulo {
        width: 60vw;
        font-size: 8vw;
        line-height: 0px;
        margin-bottom: 4vw;
    }
}