.faqs_interna {
    background-image: url("/images/Group\ 13\ Copyz.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30vw;
}
.faqs_titulo_3 {
    color: #5B5B5B;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 50px;
    margin-left: 5.5%;
    margin-top: 1.6vw;	
    line-height: 50px;
    text-align: left;
}