#logo_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vw;
}

@media screen and(max-width:"767px") {
    #logo_footer {
        display: flex;
        flex-direction: row;
    }
    .logo_footer_imagen {
        width: 27%;
    }
    
}

@media screen and(max-width:"767px") {
    
}

.line-4-copy-5 {
    box-sizing: border-box;	
    height: 1px;	
    width:  32vw;
    border: 1px 
    solid #979797;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

@media screen and(max-width:"767px") {
    .line-4-copy-5 {	
        width:  30vw;
        margin-top: 4vw;
    }
}
#contactos_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-top: 1vw;
    width: 54%;
    margin-left: 23%;
    color: #1E90BC;
}

@media screen and(max-width:"767px") {
    #contactos_footer {
        display: flex;
        flex-direction: column;
        width: 88%;
        margin-left: 6%;
    }
}

.lista_footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

@media screen and(max-width:"767px") {
    .lista_footer {
        margin-top: 3vw;
        margin-bottom: 4vw;
        display: flex;
        align-items: center;
    }

    i {
        font-size: 4vw;
    }
}

.texto_footer {
    color: #5D5D5D;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 1.3em;	
    line-height: 21px;
    margin-left: 5px;
} 


@media screen and(max-width:"767px") {
    .texto_footer {
        font-size: 6vw;
        padding-left: 1vw;
    }
}

#contenedor_redes_footer {
    display: flex;
    flex-direction: row;
    margin-top: 2vw;
    width: 21%;
    margin-left: 39.5%;
    justify-content: space-around;
}

@media screen and(max-width:"767px") {
    #contenedor_redes_footer {
        width: 84%;
        margin-left: 8%;
        margin-top: 7vw;
    }    
}

.redes_footer {
    color: #1A83B0;
    font-size: 27px;
}

@media screen and(max-width:"767px") {
    .redes_footer {
        font-size: 2em;
        align-self: center;
        vertical-align: middle;
    }    
}

.line-4-copy-6 {	
    box-sizing: border-box;	
    height: 35px;	
    width: 1px;	
    border: 0.7px 
    solid #979797;
}

.line-4-copy-7 {
    box-sizing: border-box;	
    height: 1px;	
    width:  42%;
    margin-left: 29%;
    border: 1px 
    solid #979797;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

@media screen and(max-width:"767px") {
    .line-4-copy-7 {
        box-sizing: border-box;	
        height: 1px;	
        margin-left: 0%;
        width:  100%;
        margin-top: 5vw;
    }    
}

#copyright {
    margin-top: 0.1vw;
    margin-bottom: 2vw;
    font-family: HarmoniaSansW01-Regular;
    font-size: 14px;
}

@media screen and(max-width:"767px") {
    #copyright {
        width: 88%;
        margin-left: 6%;
        margin-top: 5vw;
        margin-bottom: 3vw;
        text-align: justify;
    }
}