.line-2 {	box-sizing: border-box;	
    height: 0.5px;	
    width: 360px;	
    border: 3px solid #F7B500;
    border-radius: 4px;
    margin-top: 5vw;
    margin-left: 0px;
}

@media screen and(max-width:"767px") {
    .line-2 {	box-sizing: border-box;	
        height: 0.3vw;	
        width: 50vw;	
        border: 1px solid #F7B500;
        border-radius: 4px;
        margin-top: 16vw;
        margin-left: 7%;
    }
}
.aside-asociacion-ventajas {
    grid-row-start: 1;
    width: 100%;
}
.contenedor-asociacion-2 {
    margin-top: 3vw;
    width: 95%;
    display: grid;
    grid-gap: 2vw;
    
}

@media screen and (max-width:"767px") {
    .contenedor-asociacion-2 {
        margin-top: 3vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.parrafo-ventajas {
    margin-left: 4.5vw;
    grid-row-start: 1;
    grid-column: 1/3;
    color: #7F7F7F;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 1vw;
    text-align: left;

    p{
        margin-bottom: 1vw;
    }

    @media screen and(max-width:"767px") {
        font-size: 4.2vw;
    }
}

.imagen-asociacion-ventajas {
    position: relative;
    margin-left: 4.5vw;
    margin-top: 1vw;
    width: 89%;
    margin-bottom: 17vw;

    img{
        width: 100%;
    }
}

@media screen and(max-width:"767px") {
    .imagen-asociacion-ventajas {
        margin-top: 4vw;
        margin-bottom: 135vw;
        margin-left: 0px;
        width: 100%;
    }
}

.iconos-asociacion-ventajas {
    position: absolute;
    margin-top: 16.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and(max-width:"767px") {
    .iconos-asociacion-ventajas {
        margin-top: 18.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.contenedor-iconos-ventajas {
    width: 23%;
    justify-content: center;
}

@media screen and(max-width:"767px") {
    .contenedor-iconos-ventajas {
        width: 94%;
        margin-left: 3%;
        margin-bottom: 10vw;
        align-self: center;
    }
}
.contenerdor-icono-ventajas {
    background-color: #FFFFFF;	
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
    padding: 1.4vw;
    border-radius: 100px;
    width: 34%;
    margin: 0 auto;
    margin-bottom: 1.4vw;
}

@media screen and(max-width:"767px") {
    .contenerdor-icono-ventajas {
        background-color: #FFFFFF;	
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
        padding-top: 3.5vw;
        border-radius: 100px;
        height: 15vw;
        width: 16%;
        margin: 0 auto;
        margin-bottom: 2.5vw;
    }
}
    

#icono-ventajas-1 {
    color: #C31718;
    font-size: 2.2vw;
}

#icono-ventajas-2 {
    color: #F7A401;
    font-size: 2.2vw;
}

#icono-ventajas-3 {
    color: #0290ED;
    font-size: 2.2vw;
}
@media screen and(max-width:"767px") {
    #icono-ventajas-1 {
        font-size: 8vw;
    }
    
    #icono-ventajas-2 {
        font-size: 8vw;
    }
    
    #icono-ventajas-3 {
        font-size: 8vw;
    }
}

.texto-ventajas {
    color: #6D7278;	
    font-family: HarmoniaSansW01-Regular;	
    font-size: 1.1vw;	
    line-height: 24px;	
    text-align: center;

    @media screen and(max-width:"767px") {
        font-size: 4.5vw;
    }
}

