@font-face {
    font-family: HarmoniaSansW01-Regular;
    src: url(Harmonia\ Sans\ W01\ Regular.ttf);
}
@font-face {
    font-family: HarmoniaSansW01-Bold;
    src: url(Harmonia\ Sans\ W01\ Bold.ttf);
}
@font-face {
    font-family: HarmoniaSansW06-Condensed;
    src: url(Harmonia\ Sans\ W06\ Condensed.ttf);
}